@model 管理系统.Models.BuyMerchandise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BuyMerchandise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InboundNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InboundNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remainder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remainder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
