@model 管理系统.Models.OutMerchandiseList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OutMerchandiseList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Handle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Handle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandleMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandleMan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explain)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
